body {
    background-color: hsl(218, 23%, 16%);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.card {
    background-color: hsl(217, 19%, 38%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 450px;
    align-items: center;
}

.card .message-number {
    font-size: 15px;
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 30px;
}

.card piture img {
    width: 100%;
}

.card .advice {
    font-size: 23px;
    padding: 23px;
    text-align: center;
    color: hsl(193, 38%, 86%);
}

.card .next-council {
    background-color: hsl(150, 100%, 66%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    transform: translateY(85%);
}

.card .next-council:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}